@font-face {
    font-family: "Yanone";
    src: url(../fonts/YanoneKaffeesatz-Medium.ttf)
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Yanone", sans-serif;
}
i.fa {
    font-size: 30px;
    margin-right: 10px;
}
@keyframes slide {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.main {
    background-image: url(../img/background__main.jpg);
    background-repeat: repeat-x;
    animation: slide 90s linear infinite;
}
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.app__header {
    background: rgba(0,0,0,0.5);
    border-bottom: 7px solid #dfb54d;
    min-height: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.app__logo {
    padding: 20px 0;
    display: block;
    width: 200px;
    margin: 0 auto;
}
.app__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    overflow: auto;
}
.app__btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    width: 290px;
    letter-spacing: 1.4px;
    background-color: #595757;
    box-shadow: 0px 4px 0px 0px #494949;
    margin: 0 auto;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
}
.app__btn:focus {
    outline: none;
}
.achivments .app__body {
 justify-content: flex-start;
}
.app__body-inner {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.app__body-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.app__body-top {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content;
    place-content: center center;
    margin-bottom: 20px;
}
.app__card {
    background-color: rgba(0,0,0,0.5);
    padding: 20px 10px;
    border: 5px solid rgba(165, 165, 165,0.5);
    text-align: center;
}
.app__card:nth-child(1) {
    border-right: none;
    border-bottom: none;
}
.app__card:nth-child(2) {
    border-left: none;
    border-bottom: none;
}
.app__card:nth-child(3) {
    border-right: none;
    border-top: none;
}
.app__card:nth-child(4) {
    border-left: none;
    border-top: none;
}
.app__card-text {
    font-size: 22px;
    margin-bottom: 10px;
}
.app__card-count {
    font-size: 18px;
}
.app__body-middle {
    margin-bottom: 15px;
}
.app__result {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    border: 5px solid rgba(165, 165, 165,0.5);
    background-color: rgb(0 0 0 / 80%);
    margin-bottom: 7px;
}
.app__result:last-child {
    margin-bottom: 0px;
}
.app__result-score i.fa {
    font-size: 30px;
    margin-right: 0px;
} 
.fa-star {
    margin-right: 0;
    font-size: 15px;
    margin-bottom: 3px;
}
.app__result-name {
    font-size: 18px;
    margin-left: auto;
    margin-right: 20px;
}
.app__result-amount {
    font-size: 18px;
}
.btn__back {
    width: 70px;
    height: 70px;
    box-shadow: none;
    border-radius: 50%;
}
.btn__achivment {
    background-color: rgba(0,0,0,0.5);
    border: 5px solid rgba(165, 165, 165,0.5);
}
.app__header-inner {
    color: #fff;
    text-align: center;
}
.app__count {
    font-size: 24px;
    margin-bottom: 10px;
}
.app__text {
    font-size: 22px;
}
.results .app__body {
    justify-content: space-between;
}
.app__results-inner {
    color: #fff;
    padding: 20px;
}
.results__title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
.results__img {
    text-align: center;
    margin-bottom: 20px;
}
.results__img img {
    width: 250px;
}
.results__text-box {
    margin-bottom: 20px;
    font-style: 16px;
    line-height: 20px;
}
.results__text {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}
.results__text-quote {
    background-color: #0000009e;
    padding: 10px;
    border-radius: 17px;
    letter-spacing: 0.3px;
}
.results__text-author {
    text-align: center;
}
.app.results {
    animation: none;
    background-size: cover;
    background-position: center center;
}
.app.results[data-fraction="bb"] {
    background-image: url(../img/bb_bg.jpg);
}
.app.results[data-fraction="imperial"] {
    background-image: linear-gradient(rgb(0 0 0 / 70%), rgba(0, 0, 0, 0.4)), url(../img/imperial_bg.jpg);
}
.app.results[data-fraction="winterhold"] {
    background-image: linear-gradient(rgb(0 0 0 / 70%), rgba(0, 0, 0, 0.4)), url(../img/winterhold_bg.jpg);
    background-position: 15% 0;
}
.app.results[data-fraction="thieves"] {
    background-image: linear-gradient(rgb(0 0 0 / 70%), rgba(0, 0, 0, 0.4)), url(../img/thieves_bg.jpg);
}
.app.results[data-fraction="rassvet"] {
    background-image: linear-gradient(rgb(0 0 0 / 70%), rgba(0, 0, 0, 0.4)), url(../img/rassvet_bg.jpg);
}
.app.results[data-fraction="vampire"] {
    background-image: linear-gradient(rgb(0 0 0 / 65%), rgba(0, 0, 0, 0.3)), url(../img/vampire_bg.jpg);
    background-position: 15% 0;
}
.app.results[data-fraction="tb"] {
    background-image: linear-gradient(rgb(0 0 0 / 65%), rgba(0, 0, 0, 0.1)), url(../img/tb_bg.jpg);
    background-position: 30% 0;
}
.btn__bb {
    background-color: #475e64;
}
.btn__imperial {
    background-color: #3c4448;
}
.btn__winterhold {
    background-color: #94ebf6;
}
.btn__thieves {
    background-color: #3b3e39;
}
.btn__rassvet {
    background-color: #554332;
}
.btn__vampire {
    background-color: red;
}
.btn__tb {
    background-color: #990303;
}
